* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #007a74;
  --second-color: #2e38e3;
  --text-color: #b7b8ba;
}

.animationMoveLeft {
  animation: moveLeft 1s ease-in;
}
.animationMoveRight {
  animation: moveRight 1s ease-in;
}
.animationMoveUp {
  animation: moveUp 1s ease-in;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
